@import "../../sass/var";
@import "../../sass/mixing";


.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
  display: flex;
  flex-direction: column;
  }
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
}

.sectionHeader {
  @include sectionHeader
}

.sectionSubHeader {
  @include sectionSubHeader
}

.socialMediaContainer {
  padding: 1rem 0rem;
}

.socialMediaIcons {
  padding-right: 1rem;

  &:hover {
    opacity: 0.7;
  }
}

.downloadCvButton {
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  background-color: white;
  text-decoration: none;

}

.profileImageContainer {
  @include flexCentreAlign;
  flex-direction: column;
}


.profilePicStyle {
  width: '100%';
  height: 40vh;
}