@import "../../sass/var";
@import "../../sass/mixing";


.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .socialMediaContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .actionButtonContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .downloadCvButton {
    padding: 0.4vh 1vw;
    margin-top: 0vh;
    border-radius: 1vmax;
    background-color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

}

@media screen and (min-width: 768px) {
.actionButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
}

.downloadCvButton {
  padding: 0.4vh 1vw;
  margin-top: 3vh;
  border-radius: 1vmax;
  background-color: white;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

}

.socialMediaContainer {
  padding: 1vh 0vw;
}
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
}

.sectionHeader {
  @include sectionHeader
}

.sectionSubHeader {
  @include sectionSubHeader
}



.socialMediaIcons {
  padding-right: 1vw;

  &:hover {
    opacity: 0.7;
  }
}



.profileImageContainer {
  @include flexCentreAlign;
  flex-direction: column;
}


.profilePicStyle {
  width: '100%';
  height: 40vh;
}