@import "../../sass/var";
@import "../../sass/mixing";


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 0rem 0rem 2rem;
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionHeader {
  @include sectionHeader
}

.sectionSubHeader {
  @include sectionSubHeader
}

.socialMediaContainer {
  padding: 1rem 0rem;
}

.socialMediaIcons {
  padding-right: 1rem;

  &:hover {
    opacity: 0.7;
  }
}

.downloadCvButton {
  padding: 0.4rem 1rem;
  color: $primary-color;
  font-size: calc(14px + 1.5vmin);
  border-radius: 0.2rem;
  background-color: white;
}

.profileImageContainer {
  @include flexCentreAlign
}

.profilePicStyle {
  width: 22vw;
  height: 40vh;
}