@import "../../../../sass/var";
@import "../../../../sass/mixing";

.navbar {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100vw;
  background: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh 1vw;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.navLinks {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}


.menuIcon {
  display: none;
}

@media screen and (max-width: 820px) {
  .navLinks {
    display: none;
  }

  .menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navLink {
  color: $on-primary-variant-color;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0px 10px;
  transition: all 0.3s linear;

  &:hover {
    color: $on-primary-color;
    cursor: pointer;
  }

  &:active {
    color: $on-primary-color;
  }
}

.logoImage {
  width: 5vmin;
  height: 5vmin;
}