@import "../../sass/var";
@import "../../sass/mixing";

.sectionHeader {
    @include flexCentreAlign;
    text-transform: uppercase;
    flex-direction: column;
    padding-bottom: 2vh;
}

.sectionSubHeader {
    @include sectionSubHeader;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.educationItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 2vh;
}

.lineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2vh 0vw;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1px;
    background-color: $on-primary-variant-color;
    width: 80%
}



