$primary-color: #282c34;
$primary-variant-color: #222;
$secondary-color: #82b340;
$secondary-color-variant: #82FFEE;
$on-primary-color: #61dafb;
$on-primary-variant-color: #FFF;
$on-secondary-color: #FFF;
$on-secondary-variant-color: #FFF;