.headingLarge {
    font-weight: 'bolder';
    font-size: calc(16px + 3vmin);
    padding: 0.5vh;
    margin: 0px;
}

.headingMedium {
    font-weight: 'bolder';
    font-size: calc(14px + 2.8vmin);
    padding: 0.5vh;
    margin: 0px;
}

.headingSmall {
    font-weight: 'bolder';
    font-size: calc(12px + 2.6vmin);
    padding: 0.5vh;
    margin: 0px;
}

.titleExtraLarge {
    font-weight: 'bolder';
    font-size: calc(10px + 2.4vmin);
    padding: 0.5vh;
    margin: 0px;
}

.titleLarge {
    font-weight: 'bold';
    font-size: calc(10px + 2.2vmin);
    padding: 0.5vh;
    margin: 0px;
}

.titleMedium {
    font-weight: '600';
    font-size: calc(10px + 2vmin);
    padding: 0.5vh;
    margin: 0px;
}

.titleSmall {
    font-weight: '600';
    font-size: calc(9px + 1.8vmin);
    padding: 0.5vh;
    margin: 0px;
}

.labelLarge {
    font-weight: 'normal';
    font-size: calc(8px + 1.6vmin);
    padding: 0.5vh;
    margin: 0px;
}

.labelMedium {
    font-weight: 'normal';
    font-size: calc(7px + 1.4vmin);
    padding: 0.5vh;
    margin: 0px;
}

.labelSmall {
    font-weight: 'normal';
    font-size: calc(6px + 1.2vmin);
    padding: 0.5vh;
    margin: 0px;
}

.bodyLargeBold {
    font-weight: 'bold';
    font-size: calc(6px + 1vmin);
    padding: 0.5vh;
    margin: 0px;
}

.bodyLarge {
    font-weight: 'normal';
    font-size: calc(6px + 1vmin);
    padding: 0.5vh;
    margin: 0px;
}

.bodyMedium {
    font-weight: 'normal';
    font-size: calc(4px + 0.8vmin);
    padding: 0.5vh;
    margin: 0px;
}

.bodySmall {
    font-weight: 'normal';
    font-size: calc(2px + 0.6vmin);
    padding: 0.5vh;
    margin: 0px;
}

.bodyExtraSmall {
    font-weight: 'normal';
    font-size: calc(2px + 0.4vmin);
    padding: 0.5vh;
    margin: 0px;
}


