@import "../../sass/var";
@import "../../sass/mixing";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.navLink {
  color: $on-primary-variant-color;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0px 10px;
  transition: all 0.3s linear;

  &:hover {
    color: $on-primary-color;
  }

  &:active {
    color: $on-primary-color;
  }
}