@import "../../sass/var";
@import "../../sass/mixing";


.sectionHeader {
  @include flexCentreAlign;
  flex-direction: column;
  text-transform:uppercase;
}

.listContainer {
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.listItemContainer {
    padding-top: 1vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sectionSubHeader {
  font-size: calc(14px + 1vmin);
  color: $on-primary-variant-color;
  padding-left: 1vh;

  &:hover {
    text-decoration: underline;
  }
}

.bulletListItem {
    font-size: calc(10px + 1vmin);
    color: $on-primary-variant-color;  
    padding-left: vh;
}

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;

}

.listHeaderText {
  display: flex;
  flex-direction: row;
  align-items: center ;
}


